.App {
  display: flex;
  height: 100vh;
}
.logo {
  width: 150px; 
  height: auto; 
}


.App-content {
  display: flex;
  width: 100%;
}

.left-half {
  background-color: white;
  padding: 20px;
  width: 47%;
}

.right-half {
  background-color: #50C878; 
  width: 53%;
  position: relative;
}

.right-half div {
  text-align: center; 
}

#about {
  position: absolute;
  top: 33.33%;
  left: 50%;
  transform: translateX(-50%);
}


#features {
  position: absolute;
  top: 66.67%;
  left: 50%;
  transform: translateX(-50%);
}




